* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
#app {
  height: 100%;
}

.alignCenter {
  text-align: center;
}

.rightSideButtons {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.CenterButtons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.borderBox {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

.el-table .table-row-unread {
  font: bold;
  --el-table-tr-bg-color: #fef0f0;
}
.el-table .table-row-read {
  --el-table-tr-bg-color: #f0f9eb;
}
